<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.15">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.2.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>desc</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.6"/>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.41">
    <script>pipeline {
    agent { label &apos;master&apos; }
    stages {
        stage(&apos;tar&apos;){
            steps {
                script {
                    library &apos;sysUtils@master&apos;
                    env.BACKUP_NAME = &quot;jenkins-${env.JENKINS_VERSION}-backup-${date.currentDate}&quot;
                }
                sh &quot;&quot;&quot;
                    #!/bin/bash -ex
                    echo ${BACKUP_NAME}
                	tar cvvf ${BACKUP_NAME}.tar ${JENKINS_HOME}
                &quot;&quot;&quot;
            }
        }
        // stage(&apos;compress&apos;){
        //     sh &apos;&apos;&apos;
        //     #!/bin/bash
        //     cd $JENKINS_HOME
        //     BACKUP_NAME=jenkins-${JENKINS_VERSION}-backup-$(date +&quot;%y%m%d%M&quot;)
	       // gzip ${BACKUP_NAME}.tar
	       // &apos;&apos;&apos;
        // }
        // stage(&apos;upload&apos;){
        //     sh &apos;&apos;&apos;
        //     #!/bin/bash
        //     cd $JENKINS_HOME
        //     JENKINS_VERSION=$(docker run jenkins/jenkins:lts --version)
        //     BACKUP_NAME=jenkins-${JENKINS_VERSION}-backup-$(date +&quot;%y%m%d%M&quot;)
        //     aws s3 cp ${BACKUP_NAME}.tar.gz s3://simplee-jenkins-backup
        //     &apos;&apos;&apos;
        // }
        // stage(&apos;clean&apos;){
        //     sh &apos;&apos;&apos;
        //     rm -f ${BACKUP_NAME}*
        //     &apos;&apos;&apos;
        // }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>